/* body */
body {
  background-color: #ace;
  font-family: Arial;
  text-align:center;
}

/* content */
.content {
    padding: 10px;
    border: 1px solid black;
}

/* Task Formatting */
.low { 
	color: black; 
} 

.medium { 
	color: yellow; 
} 

.high { 
	color: red; 
} 

.completed {
    text-decoration: line-through;
}